<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Mirage Inn</title>
    <link rel="stylesheet" href="nav.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2 class="title">Sunset Mirage Inn</h2>
    <hr>
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" routerLink=""><b>Admin</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="new"><b><i>Add Customer</i></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="get"><b><i>GET Customer</i></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="view"><b><i>HOTEL VIEW</i></b></a>
                    </li>         
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>