body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title {
    margin: 0;
    padding: 40px; /* Increased padding */
    text-align: center;
    width: 100%;
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3em;
}

.navbar {
    width: 100%;
}

.navbar .navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-brand {
    position: absolute;
    left: 15px;
}

body {
    background-color: #e9dbdb; 
}
.form-container {
    background-color: #6e3737; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}